html { background-color: #393d51;
       --color-1:#241b42 ;
       --color-2: #f35479;
       --color-3: #FF693c; 
       @font-face {
        font-family: 'robotto Bold';
        src: url("https://raw.githubusercontent.com/Jose-IDO/miscellaneous-images-/main/Roboto-Bold.ttf");
       }

       @font-face {
        font-family: 'robotto Regular';
        src: url("https://raw.githubusercontent.com/Jose-IDO/miscellaneous-images-/main/Roboto-Bold.ttf");
       }
    
    }


body{
    background-color:#393d51;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}


h1{
    font-family: 'robotto Bold', sans-serif;
    font-weight: bold;
    color: var(--color-1);
    font-size: 35px;
    padding:-15px;
    margin: 2px;

}
    .firstparagraph {    
    background-color: rgb(255, 255, 255);
    width: 569px;
    height: 350px;
    border-radius: 16px; 
    display: flex;
    padding: 15px 15px 15px;
    flex-direction: row;

}

.info {
    font-family: 'robotto Regular', sans-serif;
    background-color: rgb(255, 255, 255);
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    font-size: 12px;
   border-radius: 8px;
   padding-left: 10px;
   margin-right: 30px;
   gap: 8px;


}

.firstparagraph.img{

    flex: 1 0 auto;
    width: 50%;
   border-radius: none;
  
}

.bullet{
    display: flex;
    justify-content: start;
    flex-direction: row;
    gap: 7px;
}

.email-input label {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 20px;
    width: 100%; 
}

.email-input  {
    width: 100%; 
}

button {
    width: 100%; 
    padding: 0; 
    margin: 0; 

}

.email-input input{
    padding: 5px;
    border-radius: 5px;
    border: solid 1px lightgrey;
    cursor: pointer;
    }

    .subscribebutton{
        border: none;
        margin-top: 10px;
        height: 50px;
        border-radius: 8px;
       background-color: var(--color-1);
       color:white
    }

    .subscribebutton:hover{
        background-image: linear-gradient(to right, var(--color-2), var(--color-3));
        box-shadow:
         0 5px 12px #fE54797F,
         0 5px 12px #FF693C7F;
         cursor: pointer
        

    }